.game-over {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-attachment: fixed;
  padding-top: 80px;
}

.game-over-modal {
  background-color: #fff;
  align-content: center;
  justify-content: center;
  width: 320px;
  height: 800px;
  max-width: 95vw;
  max-height: 91vh;
  overflow-y: auto;
  padding-top: 14px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  align-content: center;
}

.game-over-header {
  font-size: 50px;
}

.game-over-stat {
  text-align: left !important;
  font-weight: 700;
  font-size: 16px;
  margin-left: 16px;
}

.prizes {
  font-size: 15px;
  line-height: 1.35;
  margin-top: 4px;
  margin-left: 16px;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
}

.prize {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
  margin-left: 10px;
  align-self: center;
  justify-self: center;
}

.sponsors {
  display: flex;
  flex-direction: column;
  /* max-height: 80px; */
  /* justify-content: center; */
  /* align-items: center; */
}

.sponsor {
  display: flex;
  position: relative;
  flex-direction: row;
  /* align-items: center;
  vertical-align: middle; */
  /* height: 80px; */
  /* align-content: center; */
  /* justify-content: center; */
  
}

.sponsor-logo {
  width: 80px;
  height: auto;
  margin-top: 30px;
}

.input {
  width: 85%;
  margin: 8px;
  padding: 5px;
}

.submit-btn {
  background-color: #0b3f70;
  width: 90%;
  border: none;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  /* padding-left: 30px;
  padding-right: 30px; */
  margin: 8px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}

.submit-btn:hover {
  background-color: #ea242b;
  font-weight: 700;
  transform: scale(1.05);
}