.game-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.game-modal {
  background-color: #fff;
  align-content: center;
  justify-content: center;
  width: 320px;
  height: 800px;
  max-width: 95vw;
  max-height: 91vh;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  align-content: center;
}

.game-page-top-header {
  color: #ea242b;
  margin-bottom: 0;
  text-transform: uppercase;
}

.game-page-header {
  font-size: 34px;
  margin-top: 0;
}

.game-page-code {
  margin-top: 0;
  color: #0b3f70;
}