@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.game-card {
  margin-left: 20px;
  margin-right: 20px;
}

.game-card-subheader {
  text-align: left !important;
  margin-top: 20px;
  margin-bottom: 0px;
}

.game-card-body {
  text-align: left;
}

.riddle-text {
  text-align: left;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 5px;
}

.game-form {
  width: 100%;
  padding: 8px 10px;
  margin-top: 14px;
  margin-bottom: 14px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  /* font-family: 'Oswald', sans-serif; */
  /* letter-spacing: 1px; */
  font-weight: 300;
}

.game-form:hover {
  border: 2px solid #0b3f70;
}

.game-image {
  width: 70vw;
  max-width: 280px;
}