/* .reset-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-attachment: fixed;
} */

.reset-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0, 0.6);
}

.reset-card {
  background-color: #fff;
  align-content: center;
  justify-content: center;
  width: 320px;
  max-width: 95vw;
  height: 50vh;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  align-content: center;
}

.reset-page-top-header {
  color: #ea242b;
  margin-bottom: 0;
  text-transform: uppercase;
}

.reset-page-header {
  font-size: 34px;
  margin-top: 0;
}

.reset-page-code {
  margin-top: 0;
  color: #0b3f70;
}