.stats-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.stats-card {
  color: rgb(1, 58, 92);
  background-color: #fff;
  align-content: center;
  justify-content: center;
  width: 320px;
  max-width: 95vw;
  height: 83vh;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  align-content: center;
}

.stats-body{
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 24px;
  border-radius: 5px;
}

.stats {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}