.try-again-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  /* z-index: 9999; */
  border-radius: 5px;
}

.try-again-modal {
  background-color: #fff;
  align-content: center;
  justify-content: center;
  width: 300px;
  height: 800px;
  max-width: 95vw;
  max-height: 80vh;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  align-content: center;
}

.try-again-header {
  font-size: 34px;
  margin-top: 10;
}

.try-again-subheader {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 4px;
}

.riddle-hint {
  height: 100px;
  margin-top: 20px;
}